NLP_API_KEY="ibm-watson-nlp-api-key"

# The following variables are required for the database
DB_USER="your-db-user"
DB_PASSWORD="your-db-password"
DB_SERVER="your-db-server"
DB_PORT="your-db-port"
DB_NAME="your-db-name"
